version: "2.1"
services:
  transmission:
    image: linuxserver/transmission
    container_name: transmission
    environment:
      - PUID=0
      - PGID=0
      - TZ=Europe/Amsterdam
      #- TRANSMISSION_WEB_HOME=/combustion-release/ #optional
      #- USER=username #optional
      #- PASS=password #optional
      - WHITELIST=*.*.*.*
      #- HOST_WHITELIST=dnsnane list #optional
    volumes:
      - ./config:/config
      - /mnt/dietpi_userdata/bidentify-data/downloads:/downloads
      - ./watch:/watch
    ports:
      - 9091:9091
      - 51413:51413
      - 51413:51413/udp
    restart: unless-stopped
